# =========================
# DATA PROCESSING
# =========================
pandas==2.2.2
numpy==1.26.4

# =========================
# BIG DATA (SPARK)
# =========================
#pyspark==3.5.1

# =========================
# MACHINE LEARNING
# =========================
scikit-learn==1.5.1
xgboost==2.1.1
joblib==1.4.2

# =========================
# VISUALISATION
# =========================
plotly==5.22.0
matplotlib==3.9.1

# =========================
# DASHBOARD
# =========================
streamlit==1.37.0

# =========================
# API
# =========================
fastapi==0.112.0
uvicorn==0.30.0

# =========================
# UTILITIES
# =========================
requests==2.32.3


sqlalchemy==2.0.36
psycopg2-binary==2.9.10